html{
    font size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 25px;
}

#main-title{
    color: #6D597A;
}

.section-headings{
    color: #B56576;
}

.paragraph-headings{
    color: #083b50;
}

p{
    color: #4C5454;
}

.pictures{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 10px #6D597A;
    border: 10px solid #6D597A;
    border-radius: 10px;
}

.pictures{
  border-radius: 50%;
}

  .link-button{
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    background: #B56576;
    padding: 10px 10px;
    border: 5px outset #B56576;
    border-radius: 5px;
  }

  .edtech{
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .edtech{
    background-color: lightgray;
    width: 25%;
    float: right;
    padding: 10px;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-bottom: 75px;
  }
  
  .logos{
    width: 32%;
    height: auto; 
  }



  